<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" href="../css/about.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />

  <title>About Us</title>
  <meta name="description" content="About Us">
  <meta name="author" content="Medvedskyi Denys">
</head>

<body>
  <h1>About Us</h1>
  <p><b>Name</b>:Medvedskyi Denys<br>
  <b>E-mail</b>:bookstore@gmail.com<br>
  <b>Mobile</b>:044-228-23-23</p>
  <a href="/">Home</a>
</body>
</html>
